.page[b-me4yd6o440] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-me4yd6o440] {
    flex: 1;
}

.top-row[b-me4yd6o440] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;

}

    .top-row[b-me4yd6o440]  a, .top-row[b-me4yd6o440]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-me4yd6o440]  a:hover, .top-row[b-me4yd6o440]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-me4yd6o440]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-me4yd6o440] {
        justify-content: space-between;
        flex-direction: column;
        height: auto;
    }

    .top-row[b-me4yd6o440]  a, .top-row[b-me4yd6o440]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-me4yd6o440] {
        flex-direction: row;
    }

    .top-row[b-me4yd6o440] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-me4yd6o440]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
