@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <h1 style="cursor: default;">Hashing Guard</h1>
            <a href="https://github.com/Leryons/BlazorWA_HashingGuard.git" target="_blank">GitHub Repo</a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
